:root {
    --color-primary: #272B30;
    --color-light-1: #FFFFFF;
    --color-light-2: #F6F6F6;
    --color-light-3: #C6C6C6;
    --color-dark: #1C1E22;
    --color-dark-opacity: #1C1E22e1;
    --color-dark-2: #000000;
    --color-yellow: #ffe81f;
    --color-red: #FF1C21;
    --color-green: #50C878;
    --header-gradient: linear-gradient(#484e55, #272B30 60%, #1C1E22);
}