@import '../../styles/abstracts/_mixins';

.ItemCard {
    width: 100%;
    height: 540px;
    background: var(--color-dark);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .3s linear;
}


.ItemCardRender {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 40px;
    overflow: hidden;
    overflow-y: scroll;
    gap: 30px;
}

.ItemCardRender::-webkit-scrollbar {
    width: 12px;
}

.ItemCardRender::-webkit-scrollbar-track {
    background: var(--color-dark);
}

.ItemCardRender::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow);
    border-radius: 5px;
}

.img {
    width: 5vw;
    max-width: 450px;
    min-width: 300px;
    object-fit: contain;
    height: max-content;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--color-primary);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-grow: 1;
    padding: 20px 0;
}

.title {
    @include font(3.2rem, 3.6rem);
}

.featuresList {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
    letter-spacing: 0.5rem;
    list-style: none;
    padding-left: 20px;
    overflow-y: auto;
    @include font(2.4rem, 2.6rem);
}