@font-face {
  font-family: "STARWARS";
  src: url("../src/assets/fonts/STARWARS.eot?") format("eot"), url("../src/assets/fonts/STARWARS.woff") format("woff"),
    url("../src/assets/fonts/STARWARS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
