@import '../../styles/abstracts/_mixins';
@import '../../styles/abstracts/_placeholders';

.Header {
    width: 100%;
    padding: 25px 5vw;
    background: var(--header-gradient);
    display: flex;
    align-items: center;
    gap: 2vw;
    box-shadow: 0 5px 10px var(--color-dark);
}