@import '../../styles/abstracts/_mixins';
@import '../../styles/abstracts/_placeholders';

.Header {
    width: 100%;
    padding: 25px 5vw;
    background: var(--header-gradient);
    display: flex;
    align-items: center;
    gap: 2vw;
    box-shadow: 0 5px 10px var(--color-dark);
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ErrorButton,
.RestoreButton {
    @extend %font-sw;
    width: max-content;
    align-self: center;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-radius: 5px;
    @include font(1.6rem, 2.2rem);
    background: transparent;
    color: var(--color-light);
    transition: background .2s linear, color .2s linear;
    cursor: pointer;
    
    &:hover {
        color: var(--color-dark);
    }
}

.ErrorButton {
    border: 1px solid var(--color-red);

    &:hover {
        background: var(--color-red);
    }
}

.RestoreButton {
    border: 1px solid var(--color-green);
    
    &:hover {
        background: var(--color-green);
    }
}