@import '../../../styles/abstracts/_mixins';

.ItemsList {
    width: 100%;
    height: 540px;
    background: url("https://i.pinimg.com/originals/3b/69/b7/3b69b74589e23f54ff4ab14a426da41a.jpg")
            no-repeat center / cover,
        var(--color-dark);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow:
        0px 0px 34.3px rgba(0, 0, 0, 0.028),
        0px 0px 53.2px rgba(0, 0, 0, 0.04),
        0px 0px 64.5px rgba(0, 0, 0, 0.05),
        0px 0px 71.2px rgba(0, 0, 0, 0.06),
        0px 0px 75.2px rgba(0, 0, 0, 0.072),
        0px 0px 80px rgba(0, 0, 0, 0.1);
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--color-dark-opacity);
        z-index: 0;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    @include font(2.4rem,3rem);
}

.wrapper::-webkit-scrollbar {
    width: 12px;
}

.wrapper::-webkit-scrollbar-track {
    background: var(--color-dark);
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow);
    border-radius: 5px;
}

.item {
    width: 100%;
    padding: 30px 70px;
    border-top: 2px solid var(--color-light-2);
    cursor: pointer;
    transition: background .2s linear, color .2s linear;
    position: relative;

    &:hover {
        background: var(--color-primary);
        color: var(--color-yellow);
    }
    
    &:first-child {
        border-top: none;
    }
}

.itemActive {
    color: var(--color-yellow);
}